<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error-403</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
	<div class="row justify-content-center align-items-center">

		<br>
		<br>
		<br>
		<br>
		<br>
		<div></div>
		<div></div>
		<div class="p-1" style="width: 70rem">
			<div class="card border-info rounded-3 text-center">
				<div class="card-header">
					<h5>Error-403: Acceso prohibido</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">¡Lo sentimos, no tienes permitido el acceso a este sección de la App!</h3>
					<button onclick="history.back()" class="btn btn-primary">Volver</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		function redirect() {
			location.replace("/dashboardPage"); // URL de la página a la que se quiere redirigir
		}
		setTimeout(redirect, 8000); // 8000 milisegundos = 8 segundos
	</script>
</body>

</html>


